

{% block title %}GAMENEWS-Página Principal{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
    <div style= "display: flex; flex-direction: column; align-items: center; margin-top: 20px; background-color: #000000ff; color: #ffffff; padding: 20px; border-radius: 10px;">
    <h1>Bienvenido a GAMENEWS</h1>
    
    <p>Tu portal de noticias sobre videojuegos. Mantente informado sobre los últimos lanzamientos, análisis, trucos y todo lo que necesitas saber sobre la industria del gaming</p>
    </div>

<!--Bloque de contenido para cada noticia-->
<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); gap: 20px; margin-top: 20px;">
{% for noticia in noticias %}

{% if not noticia %}
    throw $this->createNotFoundException('La noticia no existe.');
{% else %}
    <a href="{{ path('app_pagina_noticia', {'id': noticia.id}) }}">
    <div>
      <div style="background-color: #1a1a1a; padding: 15px; border-radius: 8px; color:white; display: inline-block; height: 100%;">
        <img src="" alt="Imagen de ejemplo">
        <div>
          <h5>{{ noticia.titulo }}</h5>
          <p >{{ noticia.cuerpo }}</p>
        </div>
        <div>
          <small>{{ noticia.fechaPublicacion|date('d M Y') }}</small><br>
          <small>Valoración: ★ {{ noticia.valoracionPromedio }}</small>
        </div>
      </div>
    </div>
    </a>
    {% endif %}
  {% endfor  %}
</div>
{% endblock %}