{% extends 'base.html.twig' %}

{% block title %}Gestión de Denuncias{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin/denuncias.css') }}">
{% endblock %}

{% block body %}
<h1>Gestión de Denuncias</h1>
{% if denuncias %}
    <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Comentario</th>
            <th>Denunciante</th>
            <th>Motivo</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for denuncia in denuncias %}
            <tr>
                <td>{{ denuncia.id }}</td>
                <td>{{ denuncia.comentario.contenido }}</td>
                <td>{{ denuncia.denunciante.username }}</td>
                <td>{{ denuncia.tipo }}</td>
                <td>{{ denuncia.descripcion }}</td>
                <td>{{ denuncia.fecha|date('d/m/Y H:i') }}</td>
                <td>{{ denuncia.estado }}</td>
                <td>
                    {% if denuncia.estado == 'pendiente' %}
                        <a href="{{ path('admin_denuncia_estado', {id: denuncia.id, estado: 'resuelta'}) }}"> Eliminar comentario </a>
                        <a href="{{ path('admin_denuncia_estado', {id: denuncia.id, estado: 'rechazada'}) }}"> Rechazar denuncia </a>
                    {% else %}
                        <em>Ya gestionada</em>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h2>No hay denuncias pendientes</h2>
    {% endif %}


{% endblock %}